body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 0;
}

.back-video {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}
.nav-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    padding: 15px 0;
    text-align: center;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    color: white;
    z-index: 1000;
}

.nav-title h1 {
    margin: 0;
    font-weight: 800;
    font-size: 40px;
    color: white;
    letter-spacing: 2px;

    text-shadow:
       2px 2px 0 #444,
       4px 4px 0 #333,
       6px 6px 0 #222,
       8px 8px 0 #111;

    -webkit-text-stroke: 3px black;

}

.game-container {
    width: 1400px;
    background: white;
    border-radius: 20px;
    padding: 0 15px 15px 15px;
    border: 2px solid black;
    margin-top: 90px;
}

h1 {
    margin-top: 0;
}

.content {
    display: flex;
    margin-top: 15px;
    gap: 15px;
}

.map-panel {
    flex: 1;
    border: 2px solid gray;
    border-radius: 15px;
    overflow: hidden;
}

#map {
    width: 100%;
    height: 870px;
}

.side-panel {
    width: 500px;
    display: flex;
    flex-direction: column;
}


.airports-title {
    margin-bottom: 80px;
    text-align: center;
    border-bottom: 2px solid black ;
}

.airport-list {
    list-style: none;
    border: 2px solid lightslategray;
    height: 400px;
    overflow-y: auto;
    padding: 0;
    margin-top: 25px;

}

.airport-list {
    padding: 8px 10px;
    border-bottom: 2px solid lightslategray;
    cursor: pointer;
    border-radius: 20px;
}

.airport-list {
    background: white;
}

.go-button {
    padding: 10px;
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    background: lightblue;
    border: 2px solid dodgerblue;
}

.main-status-area {
    border: 2px solid lightslategray;
    border-radius: 20px;
    background-color: white;
    padding: 0 15px 15px 15px;
    margin-top: 5px;
}
.status-header {
    text-align: center;
    border-bottom: 2px solid black;
    padding: 10px 0;
    margin-bottom: 10px;
}

.status-header h2 {
    margin: 0;
    font-size: 1.1em;
    color: black;
}
.status-bar {
    display: flex;
    justify-content: space-around;
    padding: 0 15px 15px 15px;
    margin-top: 15px;
    border: 2px solid lightslategray;
    border-radius: 20px;
}

.status-box {
    background: white;
    padding: 0;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 15px;
}

.player-box {
    margin-top: 0;
    text-align: center;
    padding: 12px;
    border: 2px solid lightslategray;
    border-radius: 20px;
    background: white;
}

.player-box label {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 6px;
    display: block;
}

.player-box input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid lightslategray;
    border-radius: 5px;
    background: white;
}



