body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0;
    padding:0;
    height: 100%;
    background: url("../IMG/empty-land.gif") no-repeat center fixed ;
    background-size: cover;

}

.hidden {
display: none;
}

#screen-story {
    color: white;
    font-size: 10px

}

#story-text {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
    color: #ff0011;
    text-shadow: 5px 5px 5px darkgreen ;
    text-align: center;
}

#story-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}


#btn-continue, #btn-exit {
    font-family: "Pixelify Sans", sans-serif;
    padding: 12px 25px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: linear-gradient(180deg, mediumpurple 0%, rebeccapurple 100%);
    border: 4px solid #000000;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 4px 4px 0 0 #000000, inset 1px 1px 0 0 mediumpurple, -2px -2px 0 0 mediumpurple;
    transition: all 0.1s ease-out;
    margin-right: 0;
}

#btn-continue:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0 0 #000000, inset 1px 1px 0 0 #9dd34a, -1px -1px 0 0 #85b03f;
    color: ghostwhite;
    background: linear-gradient(180deg, blue 0%, lightskyblue 100%);
}

#btn-exit:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0 0 #000000, inset 1px 1px 0 0 #9dd34a, -1px -1px 0 0 #85b03f;
    color: ghostwhite;
    background: linear-gradient(180deg, red 0%, palevioletred 100%);
}

.Bad-end h1{
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
    text-align: center;
    padding-top: 0;
    text-shadow: 10px 10px 10px red;
    font-size: 85px;
}

#plane-crashing {
    width: 408px;
    height: 612px;
    background: url("../IMG/plane-crashing1.gif");
    image-rendering: pixelated;
    animation: fly 0.6s steps(5), fall 3s ease-in-out forwards infinite;
    position: relative;
    top: -50%;

}

@keyframes fall {
    from {
        top: -50%;
    }
    to {
        top: 25%;
    }
}

@keyframes fly {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -320px 0;
    }
}body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0;
    padding:0;
    height: 100%;
    background: url("../IMG/empty-land.gif") no-repeat center fixed ;
    background-size: cover;

}

.hidden {
display: none;
}

#screen-story {
    color: white;
    font-size: 10px

}

#story-text {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
    color: #ff0011;
    text-shadow: 5px 5px 5px darkgreen ;
    text-align: center;
}

#story-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}


#btn-continue, #btn-exit {
    font-family: "Pixelify Sans", sans-serif;
    padding: 12px 25px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: linear-gradient(180deg, mediumpurple 0%, rebeccapurple 100%);
    border: 4px solid #000000;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 4px 4px 0 0 #000000, inset 1px 1px 0 0 mediumpurple, -2px -2px 0 0 mediumpurple;
    transition: all 0.1s ease-out;
    margin-right: 0;
}

#btn-continue:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0 0 #000000, inset 1px 1px 0 0 #9dd34a, -1px -1px 0 0 #85b03f;
    color: ghostwhite;
    background: linear-gradient(180deg, blue 0%, lightskyblue 100%);
}

#btn-exit:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0 0 #000000, inset 1px 1px 0 0 #9dd34a, -1px -1px 0 0 #85b03f;
    color: ghostwhite;
    background: linear-gradient(180deg, red 0%, palevioletred 100%);
}

.Bad-end h1{
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
    text-align: center;
    padding-top: 0;
    text-shadow: 10px 10px 10px red;
    font-size: 85px;
}

#plane-crashing {
    width: 408px;
    height: 612px;
    background: url("../IMG/plane-crashing1.gif");
    image-rendering: pixelated;
    animation: fly 0.6s steps(5), fall 3s ease-in-out forwards infinite;
    position: relative;
    top: -50%;

}

@keyframes fall {
    from {
        top: -50%;
    }
    to {
        top: 25%;
    }
}

@keyframes fly {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -320px 0;
    }
}