body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #bfbfbf, #f1f1f1);
    font-family: Arial, sans-serif;
}


/*  This is used to align the image box and the buttons together.
    In the final version I may or may not use it.
    Image box and buttons will have their own css modifications.
*/
.container {
    text-align: center;
}


.image-box {
    width: 320px;
    height: 170px;
    background-color: #8ee2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 40px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


button-row {
    display: flex;
    gap: 40px;



.btn {
    background-color: #8ee2f2;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    color: #000;
    border-radius: 18px;
    cursor: pointer;
    transition: 0.2s;
}



.btn:hover {
    background-color: #7bd5e6;
}



