body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #bfbfbf, #f1f1f1);
    font-family: Arial, sans-serif;
}


/*  This is used to align the image box and the buttons together.
    In the final version I may or may not use it.
    Image box and buttons will have their own css modifications.
*/
.container {
    text-align: center;
}




