body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #bfbfbf, #f1f1f1);
    font-family: Arial, sans-serif;
}