body {
    background: #d9d9d9;
    font-family: Arial, sans-serif;
}


/*  This is used to align the image box and the buttons together.
    In the final version I may or may not use it.
    Image box and buttons will have their own css modifications.
*/
.container {
    text-align: center;
    padding-top: 50px;
}


/*.image-box {
    width: 320px;
    height: 170px;
    background-color: #8ee2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 40px;
}*/

/*.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/

.menu-image {
    width: 800px;         /* Increase image size */
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.button-row {
    margin-top: 25px;
}


.menu-btn {
    padding: 12px 30px;
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: white;
    color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: 0.2s ease;
}




.menu-btn:hover {
    background: #f0f0f0;
    transform: translateY(-2px);
}



