body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0;
    padding:0;
    height: 100%;
    background: url("Images/empty-land.gif") no-repeat center fixed ;
    background-size: cover;

}

.hidden {
display: none;
}

#screen-story {
    color: white;
    font-size: 10px

}

#story-text {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
    color: #ff0011;
    text-shadow: 5px 5px 5px darkgreen ;
    text-align: center;
}

#story-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}


#btn-continue {
    margin-right: 30px;
    font-size: 19px;
    font-style: italic;
    font-weight: bold;
    border-radius: 25px;
    border-color: #ff0011;
    background-color: #ff8c78;
    color: white;
}

#btn-continue:hover {
    color: #000;
    background: linear-gradient(135deg, #0ff, #09f);
    box-shadow: 0 0 25px #0ff, 0 0 50px #09f;
    transform: translateY(-3px);
}

#btn-exit {
    font-size: 19px;
    font-style: italic;
    font-weight: bold;
    border-radius: 25px;
    border-color: #ff0011;
    background-color: #ff8c78;
    color: lightgreen;
}

#btn-exit:hover {
    color: #000;
    background: linear-gradient(135deg, #0ff, #09f);
    box-shadow: 0 0 25px #0ff, 0 0 50px #09f;
    transform: translateY(-3px);
}

.Bad-end h1{
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
    text-align: center;
    padding-top: 0;
    text-shadow: 10px 10px 10px red;
    font-size: 85px;
}

#plane-crashing {
    width: 408px;
    height: 612px;
    background: url("Images/plane-crashing1.gif");
    image-rendering: pixelated;
    animation: fly 0.6s steps(5), fall 3s ease-in-out forwards infinite;
    position: relative;
    top: -50%;

}

@keyframes fall {
    from {
        top: -50%;
    }
    to {
        top: 25%;
    }
}

@keyframes fly {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -320px 0;
    }
}




