body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0;
    padding:0;
    height: 100%;
    background: url("Images/empty-land.jpg") no-repeat center fixed ;
    background-size: cover;

}

.Bad-end h1{
    text-align: center;
    padding-top: 0;
    text-shadow: 10px 10px 10px red;
    font-size: 75px;
}

#plane-crashing {
    width: 408px;
    height: 612px;
    background: url("Images/plane-crashing.gif");
    image-rendering: pixelated;
    animation: fly 0.6s steps(5), fall 3s ease-in-out forwards infinite;
    position: relative;
    top: -50%;

}

@keyframes fall {
    from {
        top: -50%;
    }
    to {
        top: 25%;
    }
}

@keyframes fly {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -320px 0;
    }
}




